.nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--element);
  box-shadow: var(--shadow-sm);
  padding: 2rem 1.5rem;

  @media screen and (min-width: 1200px) {
    & {
      padding-left: 3.5rem;
      padding-right: 3.5rem;
    }
  }
}

.nav {
  * {
    margin: 0;
  }
}

.theme-toggler {
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5rem;

  &:hover {
    background-color: var(--active);
  }

  input {
    display: none;
  }
}
