<div class="container-fluid">
  <div class="countries-toolbar">
    <div class="filter-box">
      <app-text-box
        icon="search"
        placeholder="Search for a country..."
        [(value)]="filter"
      ></app-text-box>
    </div>
    <div class="select-box">
      <app-select-box
        [dataSource]="regions"
        placeholder="Filter by Region"
        (change)="onChangeRegion($event)"
      ></app-select-box>
    </div>
  </div>

  <div class="countries-wrapper" *ngIf="countries?.length > 0">
    <app-country-card
      *ngFor="let country of countries"
      [country]="country"
    ></app-country-card>
  </div>
</div>
